.card-container {
	position: relative;
	max-width: 600px;
	/*border: 1px solid #8e8e8e;*/
	height: 300px;
	border-radius: 2px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	-webkit-perspective: 800px;
	-moz-perspective: 800px;
	-o-perspective: 800px;
	perspective: 800px;
	background-color: white;
}
.card {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: white;
}

.card-content {
	position: absolute;
	width: 90%;
	margin-left: 20px;
	justify-content: center;
	text-align: center;
	margin-top: 100px;
	font-size: 36px;
}

.button-panel {
	display: absolute;
	float: right;
	right: 0;
	width: 60px;
	height: 210px;
}

.button {
	width: 59px;
	height: 50px;
	border-left: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
	padding-top: 26px;
	font-size: 21px;
	text-align: center;
	color: #474747;
	cursor: pointer;
}

.button-en {
	height: 46px;
	padding-top: 25px;
	border-radius: 0px 0px 0px 5px;
}

.inactive-button {
	color: #f0f0f0;
}

.button:hover {
	background-color: #f8f8f8;
}

.button:active {
	background-color: #f0f0f0;
}

.control-panel {
	display: absolute !important;
	bottom: 0;
	margin-top: 250px;
	height: 40px;
	cursor: pointer;
	text-align: center;
}

.back-button {
	position: absolute;
	width: 50%;
	height: 43px;
	border-top: 1px solid #b4b4b4;
	border-right: 1px solid #b4b4b4;
	padding-top: 6px;
	font-size: 34px;
}

.back-button:hover {
	background-color: #f8f8f8;
}

.back-button:active {
	background-color: #f0f0f0;
}

.forward-button {
	position: absolute;
	width: 50%;
	height: 43px;
	margin-left: 50%;
	border-top: 1px solid #b4b4b4;
	border-left: 1px solid #b4b4b4;
	padding-top: 6px;
	font-size: 34px;
}

.forward-button:hover {
	background-color: #f8f8f8;
}
.forward-button:active {
	background-color: #f0f0f0;
}
